.brok-logo {
    width: 15em;
}

.brok-contain {
    margin-top: 12em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.brok-contain p {
    color: #515456;
}

.brok-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}