.footer-items {
    padding-left: 0;
    list-style: none;
}

.footer-items li {
    padding-top: 10px;
}

.footer-items li>a {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #515456;
}

.list-head>p {
    font-size: larger;
    font-weight: 500;
    margin-bottom: 0;
}

.copyright {
    color: #515456;
}

.foot-para {
    padding-top: 2.5em;
    color: #9b9b9b;
    font-size: 12px;
}