.uni-logo {
    width: 12em;
    padding-bottom: 1em;
}

.uni-contain {
    margin-top: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.uni-contain p {
    color: #515456;
}

.uni-contain a {
    text-decoration: none;
}

.uni-items {
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: space-between;
    text-align: center;
}